.fileSelector .drop_zone {
  padding: 50px 10px;
  text-align: center;
  border: dashed 1px #999;
  background: white;
}

.fileSelector .drop_zone.dragging {
  background: #b5d4fc;
}

.fileSelector .drop_zone.dragging .prompt {
  opacity: 0.5;
  pointer-events: none;
}

.fileSelector .file-manager {
    padding: 0;
    margin: 10px 0;
}

.fileSelector .file-manager .delete {
  width: 15px;
  cursor: pointer;
}

.fileSelector .file-manager li {
  border-bottom: solid 1px #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
